/* Featured Post Styling */
.first-post-featured .featured-post {
    display: flex;
    justify-content: flex-start;
    max-width: 1212px;
    margin: auto;
    gap: 55px;
    margin-top: 50px;
}

.first-post-featured .featured-post-image {
    flex: 0 0 30%;
    max-width: 350px;
    max-height: 350px;
    box-shadow: 0 0 15px #00000069;
    border-radius: 30px;
}

.first-post-featured .featured-post-image img.img-fluid.wp-post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}

.first-post-featured .featured-post-content {
    flex: 0 0 70%;
    max-width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #7d2525;
    border-radius: 30px;
    border: 2px solid #ffffff69;
    box-shadow: 0 0 11px #00000080;
}

.first-post-featured h2.post-title {
    width: 100%;
    font-size: 20px;
    margin-bottom: 20px;
}

.first-post-featured h2.post-title a {
    color: #fff;
    line-height: 20px;
    font-weight: 400;
}

/* Grid Posts Styling */
.posts-grid .grid-post {
    overflow: hidden;
    height: 100%;
}

.grid-post-content {
    padding: 1.5rem;
}

/* Post Meta Styling */
.post-meta {
    font-size: 15px;
    color: #ffffff;
    font-weight: 300;
    letter-spacing: 1.5px;
}

.post-meta .seperator {
    margin: 0 1rem;
}

.post-excerpt p {
    font-size: 16px;
    color: #fff;
    font-weight: 200;
    text-overflow: ellipsis;
}


a.read-more.btn.btn-primary {
    width: fit-content;
    background-color: #ffac42 !important;
    font-weight: 500;
    box-shadow: 0 0 8px #00000047;
    border: 2px solid transparent;
    padding: 5px 20px;
    transition: all 0.5s ease;
}

a.read-more.btn.btn-primary:hover {
    box-shadow: 0 0 8px #ffc1078c;
    background-color: #b35858 !important;
    color: #ffac42;
    transition: all 0.5s ease;

}

a.read-more.btn.btn-primary:hover i {
    transform: rotate(90deg);
    transition: transform 0.3s ease;

}

a.read-more.btn.btn-primary i {
    transform: rotate(45deg);
    margin-left: 13px;
    transition: transform 0.3s ease;

}

/* Grid Styles  */

.grid-post-image {
    max-width: 350px;
    width: 100%;
    height: 320px;
}

.grid-post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
    box-shadow: 0 0 7px #0000008a;
}


.posts-grid {
    transform: translate(20px, 0px);
    max-width: 1250px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.post-grid-item {
    display: flex;
    min-width: 400px;
    width: calc(100% / 3);
    flex: 0 0 25%;
    flex-direction: column;
}

.post-grid-item:hover .grid-post-content {
    transform: translate(0px, 0px);
    transition: transform 0.5s ease;
}

.post-title {
    font-size: 18px;
}

.post-title a {
    color: #fff;
    transition: all 0.5s ease;

}

.post-title a:hover {
    text-shadow: 0 0 8px #ffc1078c;
    color: #ffac42;
    transition: all 0.5s ease;
}

.post-below-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.post-below-content .btn {
    padding: 3px 10px !important;
    text-align: center;
}

.post-below-content .btn i {
    margin-left: 0px !important;
}

.grid-post-content .post-meta {
    font-size: 11px;
    letter-spacing: 1px;
}

.grid-post-content .post-meta .seperator {
    margin: 0;
}

/* Responsive */
@media (max-width:1400px) {
    .first-post-featured .featured-post {
        gap: 25px;
        max-width: 1070px;
    }

    .posts-grid {
        max-width: 1090px;
        gap: 15px;
    }
}

@media (max-width:1200px) {
    .first-post-featured .featured-post {
        gap: 25px;
        max-width: 900px;
    }

    .posts-grid {
        max-width: 900px;
        gap: 15px;
    }

    .grid-post-image {
        width: 250px;
        height: 250px;
    }

    .grid-post-content {
        max-width: 240px;
        margin: auto;
        border-radius: 25px;
        padding: 15px 20px;
    }

    .post-below-content {
        gap: 10px;
        align-items: flex-start;
    }

    .post-title {
        font-size: 15px;
    }

    .grid-post-content .post-meta {
        font-size: 10px;
        letter-spacing: 0.5px;
    }


}

@media (max-width: 992px) {
    .first-post-featured .featured-post {
        flex-direction: column;
        gap: 0px;
    }

    .first-post-featured .featured-post-image {
        display: none;
    }

    .posts-grid {
        transform: translate(0px, 0px);
    }

    .grid-post-image {
        width: 300px;
        height: 300px;
    }

    .grid-post-content {
        background: linear-gradient(45deg, black, #7d2525ba);
        border: 2px solid #dad76a54;
        box-shadow: 0 0 10px #dcdada57;
    }
}

@media (max-width: 768px) {

    .featured-post-image,
    .featured-post-content {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .featured-post-image {
        order: 1;
    }

    .featured-post-content {
        order: 2;
    }

    .posts-grid {
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }

    .post-grid-item {
        width: 100%;
    }

    .posts-grid .grid-post {
        width: 100%;
    }

    .grid-post-image {
        width: 100%;
    }

    .grid-post-content {
        max-width: 95%;
    }

    .first-post-featured h2.post-title a {
        font-size: 18px;
    }

    .container.blog-page {
        padding: 0px 20px;
    }

    .post-excerpt p {
        font-size: 13px;
    }

    .post-meta {
        font-size: 12px;
        letter-spacing: 0.5px;
    }

    .post-meta .seperator {
        margin: 0.5px;
    }

    a.read-more.btn.btn-primary {
        font-size: 13px;
    }

    .first-post-featured .featured-post {
        margin-top: 10px;
    }
}