/* Featured Post Styling */
.first-post-featured .featured-post {
    display: flex;
    justify-content: flex-start;
    max-width: 1212px;
    margin: auto;
    gap: 55px;
    margin-top: 50px;
}

.first-post-featured .featured-post-image {
    flex: 0 0 30%;
    max-width: 350px;
    max-height: 350px;
    box-shadow: 0 0 15px #00000069;
    border-radius: 30px;
}

.first-post-featured .featured-post-image img.img-fluid.wp-post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}

.first-post-featured .featured-post-content {
    flex: 0 0 70%;
    max-width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #7d2525;
    border-radius: 30px;
    border: 2px solid #ffffff69;
    box-shadow: 0 0 11px #00000080;
}

.first-post-featured h2.post-title {
    width: 100%;
    font-size: 20px;
    margin-bottom: 20px;
}

.first-post-featured h2.post-title a {
    color: #fff;
    line-height: 20px;
    font-weight: 400;
}

/* Grid Posts Styling */
.posts-grid .grid-post {
    overflow: hidden;
    height: 100%;
}

.grid-post-content {
    padding: 1.5rem;
}

/* Post Meta Styling */
.post-meta {
    font-size: 15px;
    color: #ffffff;
    font-weight: 300;
    letter-spacing: 1.5px;
}

.post-meta .seperator {
    margin: 0 1rem;
}

.post-excerpt p {
    font-size: 16px;
    color: #fff;
    font-weight: 200;
    text-overflow: ellipsis;
}


a.read-more.btn.btn-primary {
    width: fit-content;
    background-color: #ffac42 !important;
    font-weight: 500;
    box-shadow: 0 0 8px #00000047;
    border: 2px solid transparent;
    padding: 5px 20px;
    transition: all 0.5s ease;
}

a.read-more.btn.btn-primary:hover {
    box-shadow: 0 0 8px #ffc1078c;
    background-color: #b35858 !important;
    color: #ffac42;
    transition: all 0.5s ease;

}

a.read-more.btn.btn-primary:hover i {
    transform: rotate(90deg);
    transition: transform 0.3s ease;

}

a.read-more.btn.btn-primary i {
    transform: rotate(45deg);
    margin-left: 13px;
    transition: transform 0.3s ease;

}

/* Grid Styles  */

.grid-post-image {
    max-width: 350px;
    width: 100%;
    height: 320px;
}

.grid-post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
    box-shadow: 0 0 7px #0000008a;
}


.posts-grid {
    transform: translate(20px, 0px);
    max-width: 1250px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.post-grid-item {
    display: flex;
    min-width: 400px;
    width: calc(100% / 3);
    flex: 0 0 25%;
    flex-direction: column;
}


/* Responsive */
@media (max-width: 768px) {

    .featured-post-image,
    .featured-post-content {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .featured-post-image {
        order: 1;
    }

    .featured-post-content {
        order: 2;
    }
}