.our-story {
    background-color: #212320;
    padding: 50px 20px;
    width: 95%;
    border-radius: 0 30px 30px 0px;
    box-shadow: 0 0 0 #000;
}

.our-story .os-title-holder {
    position: relative;
    width: fit-content;
}

.our-story .os-title {
    font-size: 60px;
    font-family: var(--font-family-rancho);
    color: #fff;
    position: relative;
    width: fit-content;
}

.our-story .os-title-holder .os-sub-title {
    color: #fff;
    font-size: 20px;
    background-color: var(--color-deep-red);
    padding: 0 10px;
    width: 100%;
    font-family: var(--font-family-poppins);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
}

.our-story img {
    margin-top: 20px;
    border-radius: 0 30px 30px 30px;
    box-shadow: 0 0 11px #00000075;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    max-height: 480px;

}

.our-story .os-para {
    width: 100%;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    font-family: var(--font-family-poppins);
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.our-story .os-content-holder {
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;

}

.our-story a.readmore-btn {
    text-decoration: none;
    font-family: var(--font-family-poppins);
    font-size: 20px;
    color: #fff;
    padding: 12px 30px;
    background: #7D2525;
    border-radius: 10px;
    font-weight: 400;
    box-shadow: 0 0px 6px #00000069;
    transition: all 0.3s ease-in-out;

}

.our-story a.readmore-btn i {
    font-size: 20px;
    color: #FFAC42;
    padding-left: 20px;
    transition: all 0.3s ease-in-out;
}


.our-story a.readmore-btn:hover {
    color: #7D2525;
    background: #FFAC42;
    transition: all 0.3s ease-in-out;
}

.our-story a.readmore-btn:hover i {
    color: #fff;
    transition: all 0.3s ease-in-out;
}

@media (max-width:991px) {
    .our-story .os-content-holder {
        padding-left: 0%;
        padding-top: 30px;
    }

    .our-story .os-title {
        font-size: 50px;
    }

    .our-story .os-title-holder .os-sub-title {
        font-size: 15px;
    }


    .our-story a.readmore-btn i {
        font-size: 16px;
    }

    .our-story a.readmore-btn {
        font-size: 16px;
    }

}

@media (max-width:500px) {
    .our-story img {
        max-height: 380px;

    }

    .our-story .os-para {
        font-size: 16px;
        line-height: 20px;
    }

}